<style type="text/css">
  body {
 background-color: whitesmoke;
}
.cont {
    padding: 70px;
    background-color: white;
    width: 1000px;
    margin: auto;
}
img {
      margin: 50px auto;
    display: block;
}
.specs {
    margin-top: 22px;
    font-weight: 500;
    font-size: 20px;
}

</style>
<div class="cont">
  
<h1>Results!</h1>

<% @raw_data.each do |p|%>
  <img src="<%= p.image_url%>">
  <a href="<%= p.url %>"> 
    <h3> <%= p.name %></h3>
  </a>
  <p> <strong> $<%=p.price %> </strong> </p> <br>
  <p> <%= p.description.html_safe %></p>
  <h5 class="specs"> Technical Specs: </h5>
  <ul> 
    <li> <p> <strong>RAM </strong><%= p.ram %> GB</p></li>
    <li> <p> <strong>Hard Drive </strong><%= p.hard_drive_gb %> GB</p></li>
    <li> <p> <strong>Processor </strong><%= p.proccessor.html_safe %></p></li>
    <li> <p> <strong>Weight </strong><%= p.weight %> lb</p></li>
    <% if p.battery_life %>
      <li> <p> <strong>Battery Life </strong><%= p.battery_life %> Minutes</p> </li>
    <% end %>
    <li> <p> <strong>Screen Dimensions </strong><%= p.screen_size %> Inches</p></li>
  </ul>
  <hr>
<% end %>
</div>